named.conf*           linguist-language=Shell
named.conf.options    linguist-language=Shell
named.conf.local      linguist-language=Shell
db.*                  linguist-language=DNS Zone File
*.zone                linguist-language=DNS Zone File

*.jnl                 linguist-vendored
*.signed              linguist-vendored
*.key                 linguist-language=Shell

Dockerfile*           linguist-language=Docker
docker-compose.yml    linguist-language=YAML

*.py                  linguist-language=Python
*.sh                  linguist-language=Shell
*.xml                 linguist-language=XML
